*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.debug{
  border: 1px solid black;
  
}
/* css header */
header{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
 
}
.title{
  display: inline;
}

header .logo , .title {
  vertical-align: middle;
}
/* css main */
hr{
  border: 0px;
}
.bkg{
  background-color: rgba(243, 242, 242, 0.862);
}
.container{
  margin:auto;
  max-width: 800px;
  
}
/* css nav */
.nav-add{
  margin-top: 50px ;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 50px;
  background-color: white;
  margin-bottom: 2px;
}
a{
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.button-off{
  border: 1px solid lightgray;
  color: lightgray;
}
.button-on{
  background-color: rgb(75, 139, 165);
  color: white;
}
/* main */
.section-1{
  padding-top: 20px;
  padding-bottom: 10px;
}
section{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding-left: 50px;
}
section h2{
  font-size: 20px;
  color: rgb(90, 88, 88);
}
section ul{
list-style-type: none;
}
section ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-yes{
  color: rgb(17, 184, 104);
  border: 1px solid rgb(17, 184, 104);
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}
.list-no{
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}
/* task-customization css */
.task-desc{
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}
.task-editorial{
  background-color: rgb(86, 177, 197);
}
.task-q1{
  background-color: purple;
}
.task-recruiting{
  background-color: aquamarine;
}
.task-mobile{
background-color: orange;
}
.task-sales{
  background-color: green;
}
.task-website{
  background-color: palevioletred;
}